@(title: String)(javaScript: Html)(header: Html)(content: Html)
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>@title</title>

        <link rel="icon" type="image/png" href='@routes.Assets.at("images/favicon.png")'>

        <link type="text/css" href='@routes.Assets.at("stylesheets/bootstrap.min.css")' rel="stylesheet">
        <link type="text/css" href='@routes.Assets.at("stylesheets/stylesheet.css")' rel="stylesheet">

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

        <script src='@routes.Assets.at("javascripts/jquery-1.9.0.min.js")' type="text/javascript"></script>
        <script src='@routes.Assets.at("javascripts/bootstrap.min.js")' type="text/javascript"></script>
        <script src='@routes.Assets.at("javascripts/bootbox.min.js")' type="text/javascript"></script>
        <script src='@routes.Assets.at("javascripts/wsd.js")' type="text/javascript"></script>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        @javaScript

    </head>

    <body>

        <header>
            <nav class="navbar navbar-default" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/reset"><span class="logo"><img src='@routes.Assets.at("images/logo_svg.svg")' alt="WSD-Logo"/></span>Water Ship Down</a>
                    </div>
                    <div class="collapse navbar-collapse text-center">
                        @header
                    </div>
                </div>
            </nav>
        </header>

        @content
        <!-- set up the modal to start hidden and fade in and out -->
        <div id="helpDialog" class="modal fade" tabindex="-1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Help & Instructions</h4>
                    </div>
                    <!-- dialog body -->
                    <div class="modal-body">
                        <section>
                            <h4>A. How to start!</h4>
                            <div class="highlight highlight-primary">
                                <h5>Creating a game</h5>
                                <p>If you are the first player to arrive on the website, you can start a match by creating a game. Simply enter your desired username in the textbox and click on "create a game".</p>
                                <p>While you wait you can play the classic strategy game <a href="http://en.wikipedia.org/wiki/Tic-tac-toe" target="_blank">Tic-tac-toe</a>.</p>
                            </div>
                            <div class="highlight highlight-primary">
                                <h5>Joining a game</h5>
                                <p>Assuming there is already another player waiting you can scroll down to the list of waiting players. (If your desired partner isn't there, click on the "refresh" button to reload the list.)</p>
                                <p>Simply click on the name of your desired partner to start the game.</p>
                            </div>
                        </section>

                        <section>
                            <h4>B. How it works!</h4>
                            <div class="highlight highlight-primary">
                                <p><strong>Water Ship Down</strong> is a game similar to <a href="http://en.wikipedia.org/wiki/Battleship_(game)" target="_blank">Battleship</a> with some interesting twists which make it less of a "luck game" and adds a more tactical layer.</p>
                            </div>
                            <div class="highlight highlight-primary">
                                <h5>The Map</h5>
                                <p>You will play on a 18x18 map consisting entirely of water (and ships!). Every tile can contain a part of a ship and can be shot on.</p>
                            </div>
                            <div class="highlight highlight-primary">
                                <h5>The Ships</h5>
                                <p>Your fleet consists of a total of 6 ships.</p>
                                <ul>
                                    <li><strong>1x Carrier:</strong> The largest ship of your fleet with a size of 10x2 fields marks a very strong but easily spotted target.</li>
                                    <li><strong>1x Battleship:</strong> This is the "smaller brother" of the carrier. A size of 5x2 fields is still large but it can stay hidden for a bit longer.</li>
                                    <li><strong>2x Destroyers:</strong> These are only 1 field wide (but still 5 fields tall!)</li>
                                    <li><strong>2x Submarines:</strong> With a size of 3x1 fields these ships are very hard to detect, but once they are spotted they fall quickly.</li>
                                </ul>                            
                            </div>
                        </section>

                        <section>
                            <h4>C. How to place ships!</h4>
                            <div class="highlight highlight-primary">
                                <h5>Placing ships</h5>
                                <p>Once two players are connected they will be able to place their ships. Simply use Drag'n'Drop to place the ships from your dock (on the right side) into your map. Press the "change orientation" button to change the way your ship faces.</p>
                            </div>
                        </section>

                        <section>
                            <h4>D. How a turn is played!</h4>
                            <div class="highlight highlight-primary">
                                <p>After placing the ships you will get to the actual tactical game. Here you have multiple options:</p>
                            </div>
                            <div class="highlight highlight-primary">
                                <h5>Selecting targets</h5>
                                <p>Depending on the amount of ships still alive you have 1-6 high-tech missiles available. Each ship provides one missile per turn.</p>
                                <p>To select a target, click on a field on the enemy map. (right side)</p>
                                <p>You can deselect a target by clicking it again. This will add the missile back to your stock.</p>
                            </div>
                            <div class="highlight highlight-primary">
                                <h5>Chosing special actions</h5>
                                <p>Another twist of Water Ship Down is the introduction of "special actions".</p>
                                <p>These provide a unique and powerful one-time bonus. So chose those moments wisely.</p>
                                <p>You are able to select a single action (or none) per turn.</p>
                                <ul>
                                    <li><strong>Rapid Fire:</strong> This action will double the amount of available missiles for one turn. Example: You have 4 ships left alive - chosing this action will allow you to select 8 targets.</li>
                                    <li><strong>Supportive Fire:</strong> Call in Support from a friendly positions. This allows 3 extra missiles this turn.</li>
                                    <li><strong>Smart Missile:</strong> This action fires a smart missile (additionally to your usual targets). The smart missile needs no active target and is guaranteed to hit an enemy ship. It can't be blocked with the preventive shield.</li>
                                    <li><strong>Preventive Shield:</strong> This action blocks all incoming (regular) missiles. Your enemy will not know whether these targets would have hit one of your ships.</li>
                                </ul>                            
                            </div>
                            <div class="highlight highlight-primary">
                                <h5>Confirming the turn</h5>
                                <p>Once you are happy with your selected targets and actions you can confirm your turn by clicking the "Start Attack!" buttons. If your enemy has not finished his turn you will have to wait until then.</p>
                              </div>
                        </section>
                    </div>
                    <!-- dialog buttons -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>



    </body>
</html>


