<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>Place ship</h1>
	<form action="playing" method="GET">
		<div>
			<h2>Carrier</h2>
			X:<input name="c_x" type="number"><br> Y:<input
				name="c_y" type="number"><br>
			
			Orientation:<input name="c_o" type="text"><br>
		</div>

		<div>
			<h2>Battleship</h2>
			X:<input name="b_x" type="number"><br> Y:<input
				name="b_y" type="number"><br>
			
			Orientation:<input name="b_o" type="text"><br>
		</div>
		
		<div>
			<h2>Destroyer</h2>
			X:<input name="d1_x" type="number"><br> Y:<input
				name="d1_y" type="number"><br>
			
			Orientation:<input name="d1_o" type="text"><br>
		</div>
		
		<div>
			<h2>Destroyer</h2>
			X:<input name="d2_x" type="number"><br> Y:<input
				name="d2_y" type="number"><br>
			
			Orientation:<input name="d2_o" type="text"><br>
		</div>
		
		<div>
			<h2>Submarine</h2>
			X:<input name="s1_x" type="number"><br> Y:<input
				name="s1_y" type="number"><br>
			
			Orientation:<input name="s1_o" type="text"><br>
		</div>
		
		<div>
			<h2>Submarine</h2>
			X:<input name="s2_x" type="number"><br> Y:<input
				name="s2_y" type="number"><br>
			
			Orientation:<input name="s2_o" type="text"><br>
		</div>
		
		<input type="submit" value="Place ships">
	</form>
</body>
</html>