@(user1: String)(user2: String)

@javaScript = {
<script type="text/javascript">
    
    // toggle orientation of ships
    $(function() {
        $('#toogleOrientationCarrier').click(function() {
            $('#carrier_h').toggleClass('hidden');
            $('#carrier_v').toggleClass('hidden');
            getNumberOfPlacedShips();
        });
        $('#toogleOrientationBattleship').click(function() {
            $('#battleship_h').toggleClass('hidden');
            $('#battleship_v').toggleClass('hidden');
            getNumberOfPlacedShips();
        });
        $('#toogleOrientationDestroyer1').click(function() {
            $('#destroyer1_h').toggleClass('hidden');
            $('#destroyer1_v').toggleClass('hidden');
            getNumberOfPlacedShips();
        });
        $('#toogleOrientationDestroyer2').click(function() {
            $('#destroyer2_h').toggleClass('hidden');
            $('#destroyer2_v').toggleClass('hidden');
            getNumberOfPlacedShips();
        });
        $('#toogleOrientationSubmarine1').click(function() {
            $('#submarine1_h').toggleClass('hidden');
            $('#submarine1_v').toggleClass('hidden');
            getNumberOfPlacedShips();
        });
        $('#toogleOrientationSubmarine2').click(function() {
            $('#submarine2_h').toggleClass('hidden');
            $('#submarine2_v').toggleClass('hidden');
            getNumberOfPlacedShips();
        });

    });


    //load default positions
    function loadDebugPositions(){
    	$("#loadDefault").load("validateShipPosition?shipType=carrier&x=1&y=1&orientation=h");
    	$("#loadDefault").load("validateShipPosition?shipType=battleship&x=2&y=5&orientation=v");
    	$("#loadDefault").load("validateShipPosition?shipType=destroyer1&x=6&y=11&orientation=v");
    	$("#loadDefault").load("validateShipPosition?shipType=destroyer2&x=11&y=5&orientation=h");
    	$("#loadDefault").load("validateShipPosition?shipType=submarine1&x=7&y=4&orientation=v");
    	$("#loadDefault").load("validateShipPosition?shipType=submarine2&x=12&y=12&orientation=h");
    	window.location.href = 'playing';
    }
    
    // drag n drop
    function allowDrop(ev) {
        if (!$(ev.target).hasClass('disallowDrop')) {
            ev.preventDefault();
        }

    }
    function drag(ev) {
        ev.dataTransfer.setData("Type", ev.target.id);
    }
    function drop(ev) {
        $(".messages").fadeOut(150);
        if (!$(ev.target).hasClass('disallowDrop')) {
            ev.preventDefault();
            var type = ev.dataTransfer.getData("Type");
            ev.target.appendChild(document.getElementById(type));
            validateShipPosition(type);
        }
    }

    function validateShipPosition(type) {
        // extract type and orientation from ID
        var shipType = type.substring(0, type.length - 2);
        var orientation = type.substring(type.length - 1, type.length);

        var x = getPositon("X", type);
        var y = getPositon("Y", type);

        $.ajax({
            url: "validateShipPosition?shipType=" + shipType + "&x=" + x + "&y=" + y + "&orientation=" + orientation,
            dataType: "text",
            success: function(result) {
                if (result === "true") {
                    $('#' + type).addClass('validPosition');
                    $('#' + type).removeClass('invalidPosition');
                } else {
                    $('#' + type).addClass('invalidPosition');
                    $('#' + type).removeClass('validPosition');
                    $(".messages").fadeIn(150);
                }
                getNumberOfPlacedShips();
            }
        });
    }

    function getNumberOfPlacedShips() {
        var numberOfPlacedShips = 0
        var col = 1;
        while (col <= 18) {
            var row = 1;
            while (row <= 18) {
                var shipType = $('.map > ul:nth-child(' + col + ') > li:nth-child(' + row + ') > div').attr('id');
                var choosenOrientaion = $('.map > ul:nth-child(' + col + ') > li:nth-child(' + row + ') > div').attr('class');
                if (shipType == "carrier_h" || shipType == "carrier_v" || shipType == "battleship_h" || shipType == "battleship_v" || shipType == "destroyer1_h" || shipType == "destroyer1_v" || shipType == "destroyer2_h" || shipType == "destroyer2_v" || shipType == "submarine1_h" || shipType == "submarine1_v" || shipType == "submarine2_h" || shipType == "submarine2_v") {
                    // filter ships placed in two orientations 
                    if (choosenOrientaion == "shipToPlace validPosition") {
                        numberOfPlacedShips++;
                    }
                }
                row++;
            }
            col++;
        }
        // set number of ships to place
        $('#numberOfShipsToPlace').text(numberOfPlacedShips + ' / 6');

        // if all ships placed
        if (numberOfPlacedShips >= 6) {
            $('#go').removeClass('disabled');
        } else {
            $('#go').addClass('disabled');
        }

        return numberOfPlacedShips;
    }


    function getPositon(coord, type) {
        var x;
        var y;
        var col = 1;
        while (col <= 18) {
            var row = 1;
            while (row <= 18) {
                var shipType = $('.map > ul:nth-child(' + col + ') > li:nth-child(' + row + ') > div').attr('id');
                if (shipType === type) {
                    x = col;
                    y = row;
                }
                row++;
            }
            col++;
        }

        if (coord == "X") {
            return x;
        }
        if (coord == "Y") {
            return y;
        }
    }
    
    
    function go() {
    	window.location.href = 'playing';
    }
    

</script>
}

@header = {
    <div class=usernames>
        <div class="avatar blue"><span class="glyphicon glyphicon-user blue"></span></div>
        <span>@user1</span>
    </div>
    <div class=usernames>
        <span>@user2</span>
        <div class="avatar red"><span class="glyphicon glyphicon-user red"></span></div>
    </div>
    <div class="navbar-right">
        <button id="help" type="button" class="btn btn-default navbar-btn">Help</button>
        <button id="exit" type="button" class="btn btn-danger navbar-btn">Exit</button>
    </div>
}

@main("Place your Ships")(javaScript)(header){
<section class="maps maps_placeShips">
    <div class="container maps_inner">
        <div class="row">
            <div class="col-md-6">
                <div class="map" dropzone="move" ondrop="drop(event)" ondragover="allowDrop(event)">
                    <ul><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li></ul>
                    <ul><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li></ul>
                    <ul><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li></ul>
                    <ul><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li></ul>
                    <ul><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li></ul>
                    <ul><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li></ul>
                    <ul><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li></ul>
                    <ul><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li></ul>
                    <ul><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li></ul>
                    <ul><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li></ul>
                    <ul><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li></ul>
                    <ul><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li></ul>
                    <ul><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li></ul>
                    <ul><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li></ul>
                    <ul><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li></ul>
                    <ul><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li></ul>
                    <ul><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li></ul>
                    <ul><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li></ul>
                </div>
            </div>
            <div class="col-md-6 sm-margin-top">
                <div class="shipsBox">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="shipContainer">
                                    <h3>Carrier 
                                        <span class="label label-primary">
                                            <img class="htwg_logo img-responsive" src='@routes.Assets.at("images/icons/healthPoints_white.svg")' alt="HealthPoints"/> 20
                                        </span>
                                    </h3>
                                    <div class="shipInnerContainer">
                                        <!-- Carrier vertical -->
                                        <div id="carrier_v" class="shipToPlace" draggable="true" ondragstart="drag(event)" >
                                            <ul><li class="disallowDrop"></li><li class="disallowDrop"></li><li class="disallowDrop"></li><li class="disallowDrop"></li><li class="disallowDrop"></li><li class="disallowDrop"></li><li class="disallowDrop"></li><li class="disallowDrop"></li><li class="disallowDrop"></li><li class="disallowDrop"></li></ul>
                                            <ul class="ship2v"><li class="disallowDrop"></li><li class="disallowDrop"></li><li class="disallowDrop"></li><li class="disallowDrop"></li><li class="disallowDrop"></li><li class="disallowDrop"></li><li class="disallowDrop"></li><li class="disallowDrop"></li><li class="disallowDrop"></li><li class="disallowDrop"></li></ul> 
                                        </div>
                                        <!-- Carrier horizontal -->
                                        <div id="carrier_h" class="shipToPlace hidden" draggable="true" ondragstart="drag(event)" >
                                            <ul class="ship1v"><li class="disallowDrop"></li><li class="disallowDrop"></li></ul>
                                            <ul class="ship2v"><li class="disallowDrop"></li><li class="disallowDrop"></li></ul>
                                            <ul class="ship3v"><li class="disallowDrop"></li><li class="disallowDrop"></li></ul>
                                            <ul class="ship4v"><li class="disallowDrop"></li><li class="disallowDrop"></li></ul>
                                            <ul class="ship5v"><li class="disallowDrop"></li><li class="disallowDrop"></li></ul>
                                            <ul class="ship6v"><li class="disallowDrop"></li><li class="disallowDrop"></li></ul>
                                            <ul class="ship7v"><li class="disallowDrop"></li><li class="disallowDrop"></li></ul>
                                            <ul class="ship8v"><li class="disallowDrop"></li><li class="disallowDrop"></li></ul>
                                            <ul class="ship9v"><li class="disallowDrop"></li><li class="disallowDrop"></li></ul>
                                            <ul class="ship10v"><li class="disallowDrop"></li><li class="disallowDrop"></li></ul>
                                        </div>
                                    </div>
                                    <!-- change orientation -->
                                    <button id="toogleOrientationCarrier" type="button" class="btn btn-default toogleOrientation">
                                        <span class="glyphicon glyphicon-refresh"></span> change orientation
                                    </button>
                                </div>
                            </div>
                            <div class="item">
                                <div class="shipContainer">
                                    <h3>Battleship 
                                        <span class="label label-primary">
                                            <img class="htwg_logo img-responsive" src='@routes.Assets.at("images/icons/healthPoints_white.svg")' alt="HealthPoints"/> 10
                                        </span>
                                    </h3>
                                    <div class="shipInnerContainer">
                                        <!-- Battleship vertical -->
                                        <div id="battleship_v" class="shipToPlace" draggable="true" ondragstart="drag(event)" >
                                            <ul><li class="disallowDrop"></li><li class="disallowDrop"></li><li class="disallowDrop"></li><li class="disallowDrop"></li><li class="disallowDrop"></li></ul>
                                            <ul class="ship2v"><li class="disallowDrop"></li><li class="disallowDrop"></li><li class="disallowDrop"></li><li class="disallowDrop"></li><li class="disallowDrop"></li></ul> 

                                        </div>
                                        <!-- Battleship horizontal -->
                                        <div id="battleship_h" class="shipToPlace hidden" draggable="true" ondragstart="drag(event)" >
                                            <ul class="ship1v"><li class="disallowDrop"></li><li class="disallowDrop"></li></ul>
                                            <ul class="ship2v"><li class="disallowDrop"></li><li class="disallowDrop"></li></ul>
                                            <ul class="ship3v"><li class="disallowDrop"></li><li class="disallowDrop"></li></ul>
                                            <ul class="ship4v"><li class="disallowDrop"></li><li class="disallowDrop"></li></ul>
                                            <ul class="ship5v"><li class="disallowDrop"></li><li class="disallowDrop"></li></ul>
                                        </div>
                                    </div>
                                    <!-- change orientation -->
                                    <button id="toogleOrientationBattleship" type="button" class="btn btn-default toogleOrientation">
                                        <span class="glyphicon glyphicon-refresh"></span> change orientation
                                    </button>
                                </div>
                            </div>
                            <div class="item">
                                <div class="shipContainer">
                                    <h3>Destroyer #1 
                                        <span class="label label-primary">
                                            <img class="htwg_logo img-responsive" src='@routes.Assets.at("images/icons/healthPoints_white.svg")' alt="HealthPoints"/> 5
                                        </span>
                                    </h3>
                                    <div class="shipInnerContainer">
                                        <!-- Destroyer1 vertical -->
                                        <div id="destroyer1_v" class="shipToPlace" draggable="true" ondragstart="drag(event)" >
                                            <ul><li class="disallowDrop"></li><li class="disallowDrop"></li><li class="disallowDrop"></li><li class="disallowDrop"></li><li class="disallowDrop"></li></ul>            
                                        </div>
                                        <!-- Destroyer1 horizontal -->
                                        <div id="destroyer1_h" class="shipToPlace hidden" draggable="true" ondragstart="drag(event)" >
                                            <ul class="ship1v"><li class="disallowDrop"></li></ul>
                                            <ul class="ship2v"><li class="disallowDrop"></li></ul>
                                            <ul class="ship3v"><li class="disallowDrop"></li></ul>
                                            <ul class="ship4v"><li class="disallowDrop"></li></ul>
                                            <ul class="ship5v"><li class="disallowDrop"></li></ul>
                                        </div>
                                    </div>
                                    <!-- change orientation -->
                                    <button id="toogleOrientationDestroyer1" type="button" class="btn btn-default toogleOrientation">
                                        <span class="glyphicon glyphicon-refresh"></span> change orientation
                                    </button>
                                </div>
                            </div>
                            <div class="item">
                                <div class="shipContainer">
                                    <h3>Destroyer #2 
                                        <span class="label label-primary">
                                            <img class="htwg_logo img-responsive" src='@routes.Assets.at("images/icons/healthPoints_white.svg")' alt="HealthPoints"/> 5
                                        </span>
                                    </h3>
                                    <div class="shipInnerContainer">
                                        <!-- Destroyer1 vertical -->
                                        <div id="destroyer2_v" class="shipToPlace" draggable="true" ondragstart="drag(event)" >
                                            <ul><li class="disallowDrop"></li><li class="disallowDrop"></li><li class="disallowDrop"></li><li class="disallowDrop"></li><li class="disallowDrop"></li></ul>            
                                        </div>
                                        <!-- Destroyer1 horizontal -->
                                        <div id="destroyer2_h" class="shipToPlace hidden" draggable="true" ondragstart="drag(event)" >
                                            <ul class="ship1v"><li class="disallowDrop"></li></ul>
                                            <ul class="ship2v"><li class="disallowDrop"></li></ul>
                                            <ul class="ship3v"><li class="disallowDrop"></li></ul>
                                            <ul class="ship4v"><li class="disallowDrop"></li></ul>
                                            <ul class="ship5v"><li class="disallowDrop"></li></ul>
                                        </div>
                                    </div>
                                    <!-- change orientation -->
                                    <button id="toogleOrientationDestroyer2" type="button" class="btn btn-default toogleOrientation">
                                        <span class="glyphicon glyphicon-refresh"></span> change orientation
                                    </button>
                                </div>
                            </div>
                            <div class="item">
                                <div class="shipContainer">
                                    <h3>Submarine #1 
                                        <span class="label label-primary">
                                            <img class="htwg_logo img-responsive" src='@routes.Assets.at("images/icons/healthPoints_white.svg")' alt="HealthPoints"/> 3
                                        </span>
                                    </h3>
                                    <div class="shipInnerContainer">
                                        <!-- Destroyer1 vertical -->
                                        <div id="submarine1_v" class="shipToPlace" draggable="true" ondragstart="drag(event)" >
                                            <ul><li class="disallowDrop"></li><li class="disallowDrop"></li><li class="disallowDrop"></li></ul>            
                                        </div>
                                        <!-- Destroyer1 horizontal -->
                                        <div id="submarine1_h" class="shipToPlace hidden" draggable="true" ondragstart="drag(event)" >
                                            <ul class="ship1v"><li class="disallowDrop"></li></ul>
                                            <ul class="ship2v"><li class="disallowDrop"></li></ul>
                                            <ul class="ship3v"><li class="disallowDrop"></li></ul>
                                        </div>
                                    </div>
                                    <!-- change orientation -->
                                    <button id="toogleOrientationSubmarine1" type="button" class="btn btn-default toogleOrientation">
                                        <span class="glyphicon glyphicon-refresh"></span> change orientation
                                    </button>
                                </div>
                            </div>
                            <div class="item">
                                <div class="shipContainer">
                                    <h3>Submarine #2 
                                        <span class="label label-primary">
                                            <img class="htwg_logo img-responsive" src='@routes.Assets.at("images/icons/healthPoints_white.svg")' alt="HealthPoints"/> 3
                                        </span>
                                    </h3>
                                    <div class="shipInnerContainer">
                                        <!-- Destroyer1 vertical -->
                                        <div id="submarine2_v" class="shipToPlace" draggable="true" ondragstart="drag(event)" >
                                            <ul><li class="disallowDrop"></li><li class="disallowDrop"></li><li class="disallowDrop"></li></ul>            
                                        </div>
                                        <!-- Destroyer1 horizontal -->
                                        <div id="submarine2_h" class="shipToPlace hidden" draggable="true" ondragstart="drag(event)" >
                                            <ul class="ship1v"><li class="disallowDrop"></li></ul>
                                            <ul class="ship2v"><li class="disallowDrop"></li></ul>
                                            <ul class="ship3v"><li class="disallowDrop"></li></ul>
                                        </div>
                                    </div>
                                    <!-- change orientation -->
                                    <button id="toogleOrientationSubmarine2" type="button" class="btn btn-default toogleOrientation">
                                        <span class="glyphicon glyphicon-refresh"></span> change orientation
                                    </button>
                                </div>
                            </div>
                        </div>
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
                        <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
                    </div><!-- /.carousel -->
                </div>
            </div>
        </div>
    </div>
</section>

<section class="control">

    <div class="messages">
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Warning!</strong> This ship can not be placed here!
        </div>
    </div>

    <div class="toggleControl">click to hide control bar</div>
    <div class="controlToggleContainer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <p>ships to place</p>
                    <span id="numberOfShipsToPlace">0 / 6</span>
                </div>
                <div class="col-md-4">
                    <p>Are you ready?</p>
                    <input id="go" class="btn btn-success btn-lg disabled" type="button" onclick="go();" value="start the match">
                </div>
                <div class="col-md-4">
                  <p>Load debug-default positions</p>
                  <input id="loadDefault" class="btn btn-primary btn-lg" type="button" onclick="loadDebugPositions();" value="Load Debug Positions">
                </div>
            </div>
        </div>
    </div>
</section>

}