@(user1: String)(user2: String)

@header = {
<div class=usernames>
    <div class="avatar blue"><span class="glyphicon glyphicon-user blue"></span></div>
    <span>@user1</span>
</div>
<div class=usernames>
    <span>@user2</span>
    <div class="avatar red"><span class="glyphicon glyphicon-user red"></span></div>
</div>
<div class="navbar-right">
    <button id="help" type="button" class="btn btn-default navbar-btn">Help</button>
    <button id="exit" type="button" class="btn btn-danger navbar-btn">Exit</button>
</div>
}

@main("Playing game")(header){
<script type="text/javascript">
    var selectedSpecialAction = "NONE";
    var numberSelectedTargets = 0;
    var maxShots = 55555;

    $(function() {
        // select targets
        $('.clickable > ul > li').click(function() {
            // clean up messages
            $('.messages').fadeOut(150);
            $('.messageText').empty();
            // toggle selected targets
            if (!$(this).hasClass('disable')) {
                if (!$(this).hasClass('target')) {
                    if (numberSelectedTargets < maxShots) {
                        $(this).addClass('target');
                        numberSelectedTargets++;
                    } else {
                        // display warning message
                        $('.messages').fadeIn(150);
                        $('.messages > div').addClass('alert-warning');
                        $('.messageText').append("<strong>Warning!</strong> The maximum number of targets has been reached!! To select a different target, an existing target must be deselected.")
                    }
                } else {
                    $(this).removeClass('target');
                    numberSelectedTargets--;
                }
            }
            // set number of available Shots in control bar
            $('#availableShots').text(numberSelectedTargets);
        });

        // handle special actions
        $('.special_actions > button').click(function() {

            //set the selected to true
            switch ($(this).attr('id')) {
                case 'special1':
                    selectedSpecialAction = "FIRE_TWICE";
                    break;
                case 'special2':
                    selectedSpecialAction = "THREE_BONUS_SHOTS";
                    break;
                case 'special3':
                    selectedSpecialAction = "AUTO_ROCKET";
                    break;
                case 'special4':
                    selectedSpecialAction = "ENEMY_PASSES";
                    break;
            }
            $(this).toggleClass('active');
            $(this).siblings().toggleClass('disabled');

        });

        //load the maps for the first time
        loadMaps();
        
        //Create WebSockets which tells us to refresh the page or go to the results page
      	//get websocket class, firefox has a different way to get it
        var WS = window['MozWebSocket'] ? window['MozWebSocket'] : WebSocket;

        //create the actual webSocket (get its URL via routes file from play framework)
        var socket = new WS('@routes.Application.wsInformAboutTurnEnd().webSocketURL(request)');
      	//define the function which handles messages send to this player.
        var respondToWebSocket = function(event) {
      		alert("Received answer from web socket" + event.data);
        	var response = event.data;
        	if (response == "refresh"){
        		$("#refreshMapButton").removeClass("disabled");
        		$("#blockingBox").modal('hide');
        	}
        	if (response == "result"){
        		window.location.href = "/result";
        	}
        };

        //register previous function to the socket
        socket.onmessage = respondToWebSocket;
    });

    function sendDecisions() {
        var json = new Object();
        json.action = selectedSpecialAction;
        json.targets = new Array();

        //Iterate over map and find the selected targets
        var col = 1;
        while (col <= 18) {
            var row = 1;
            while (row <= 18) {
                if ($('#map2 > ul:nth-child(' + col + ') > li:nth-child(' + row + ')').hasClass('target')) {
                    var coordinate = {"x": (col - 1), "y": (row - 1)};
                    json.targets.push(coordinate);
                }
                row++;
            }
            col++;
        }

        $.ajax({
            url: "sendDecisions?jsonString=" + JSON.stringify(json),
            dataType: "text",
            success: function(result) {
            }
        })
        blocked();
    }

    function blocked() {
        $("#blockingBox").on("show", function() {    // wire up the OK button to dismiss the modal when shown
            $("#blockingBox a.btn").on("click", function(e) {
                console.log("button pressed");   // just as an example...
                $("#blockingBox").modal('hide');     // dismiss the dialog
            });
        });

        $("#blockingBox").on("hide", function() {    // remove the event listeners when the dialog is dismissed
            $("#blockingBox a.btn").off("click");
        });

        $("#blockingBox").on("hidden", function() {  // remove the actual elements from the DOM when fully hidden
            $("#blockingBox").remove();
        });

        $("#blockingBox").modal({// wire up the actual modal functionality and show the dialog
            "backdrop": "static",
            "keyboard": true,
            "show": true                     // ensure the modal is shown immediately
        });
    }

    function loadMaps() {
        $.ajax({
            url: "/loadMaps",
            dataType: "json",
            success: function(result) {
                //fill the map1
                $.each(result.myMap.fields, function(key, value) {
                    //we now iterate over each mapfield.
                    switch (value.status) {
                        case "UNKNOWN":
                            if (value.ship == true) {
                                //Ship there, but enemy doesn't know
                                //color it white
                                $('#map' + 1 + ' > ul:nth-child(' + (value.x + 1) + ') > li:nth-child(' + (value.y + 1) + ')').addClass('ship');
                            }
                            break;
                        case "HIT":
                            $('#map' + 1 + ' > ul:nth-child(' + (value.x + 1) + ') > li:nth-child(' + (value.y + 1) + ')').addClass('hit');
                            break;
                        case "MISSED":
                            $('#map' + 1 + ' > ul:nth-child(' + (value.x + 1) + ') > li:nth-child(' + (value.y + 1) + ')').addClass('missed');
                            break;
                    }
                })

                //fill the map2
                $.each(result.enemyMap.fields, function(key, value) {
                    //we now iterate over each mapfield.
                    switch (value.status) {
                        case "UNKNOWN":
                            break;
                        case "HIT":
                            $('#map' + 2 + ' > ul:nth-child(' + (value.x + 1) + ') > li:nth-child(' + (value.y + 1) + ')').addClass('hit');
                            break;
                        case "MISSED":
                            $('#map' + 2 + ' > ul:nth-child(' + (value.x + 1) + ') > li:nth-child(' + (value.y + 1) + ')').addClass('missed');
                            break;
                    }
                })

                //Disable special actions which are no longer userable.

                if (result.mySpecialActions.FIRE_TWICE == false) {
                    $('#special1').attr("disabled", "disabled");
                }
                if (result.mySpecialActions.THREE_BONUS_SHOTS == false) {
                    $('#special2').attr("disabled", "disabled");
                }
                if (result.mySpecialActions.AUTO_ROCKET == false) {
                    $('#special3').attr("disabled", "disabled");
                }
                if (result.mySpecialActions.ENEMY_PASSES == false) {
                    $('#special4').attr("disabled", "disabled");
                }

                //Set maxShots
                maxShots = result.myShotsBase;
                //Reprint it
                $("#maxShots").text(maxShots);
            }
        });
    }


</script>

<section class="maps maps_playing">
    <div class="container maps_inner">
        <div class="row">
            <div class="col-md-6">
                <div id="map1" class="map">
                    <ul><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li></ul>
                    <ul><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li></ul>
                    <ul><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li></ul>
                    <ul><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li></ul>
                    <ul><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li></ul>
                    <ul><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li></ul>
                    <ul><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li></ul>
                    <ul><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li></ul>
                    <ul><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li></ul>
                    <ul><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li></ul>
                    <ul><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li></ul>
                    <ul><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li></ul>
                    <ul><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li></ul>
                    <ul><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li></ul>
                    <ul><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li></ul>
                    <ul><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li></ul>
                    <ul><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li></ul>
                    <ul><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li></ul>
                </div>
            </div>
            <div class="col-md-6 sm-margin-top">
                <div id="map2" class="map clickable">
                    <ul><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li></ul>
                    <ul><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li></ul>
                    <ul><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li></ul>
                    <ul><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li></ul>
                    <ul><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li></ul>
                    <ul><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li></ul>
                    <ul><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li></ul>
                    <ul><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li></ul>
                    <ul><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li></ul>
                    <ul><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li></ul>
                    <ul><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li></ul>
                    <ul><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li></ul>
                    <ul><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li></ul>
                    <ul><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li></ul>
                    <ul><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li></ul>
                    <ul><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li></ul>
                    <ul><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li></ul>
                    <ul><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li></ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="control">

    <div class="messages">
        <div class="alert alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <span class="messageText"></span>
        </div>
    </div>

    <div class="toggleControl">click to hide control bar</div>
    <div class="controlToggleContainer">
        <div class="container">
            <div class="row">

                <div class="col-md-4">
                    <p>Available Missile
                        <button type="button" class="glyphicon glyphicon-info-sign info_button" data-container="body" data-toggle="popover" data-placement="top" data-original-title="Available Missile" data-content="You can shoot with each of your remaining ships."></button>
                    </p>
                    <span class="munition"><span id="availableShots">0</span> / <span id="maxShots">777777</span></span>
                </div>


                <div class="col-md-4">
                    <p>Special Actions
                        <button type="button" class="glyphicon glyphicon-info-sign info_button" data-container="body" data-toggle="popover" data-placement="top" data-original-title="Special Actions" data-content="These are your jokers. You can only use them once in a match."></button>
                    </p>
                    <div class="special_actions">
                        <button id="special1" type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="doubling number of missiles"><img src="/assets/images/icons/FIRE_TWICE.svg"></button>
                        <button id="special2" type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="3 bonus missiles"><img src="/assets/images/icons/THREE_BONUS_SHOTS.svg"></button>
                        <button id="special3" type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="extra smart missile hits a target"><img src="/assets/images/icons/AUTO_ROCKET.svg"></button>
                        <button id="special4" type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="enemy missiles miss targets"><img src="/assets/images/icons/ENEMY_PASSES.svg"></button>
                    </div>
                </div>

                <div class="col-md-4">
                    <p>Are you ready?
                        <button type="button" class="glyphicon glyphicon-info-sign info_button" data-container="body" data-toggle="popover" data-placement="top" data-original-title="Are you ready?" data-content="By pressing 'Start Attack!' you confirm your turn."></button>
                    </p>
                    <button type="button" class="btn btn-primary" onclick="sendDecisions();">Start Attack!</button>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- set up the modal to start hidden and fade in and out -->
<div id="blockingBox" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- dialog body -->
            <div class="modal-body text-center">
                <h2>Waiting for @user2!</h2>
                <br>
                <p>You are thinking faster than your opponent! @user2 has not finished his turn!</p>
                <br>
                <div class="progress progress-striped active">
                    <div class="progress-bar"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                    </div>
                </div>
            </div>
            <!-- dialog buttons -->
            <div class="modal-footer"><button id="refreshMapButton" type="button" onclick="loadMaps();" class="btn btn-success disabled">Next turn!</button></div>
        </div>
    </div>
</div>



}