@header = {
    <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="#">Instructions</a></li>
        <li><a href="#">About</a></li>
    </ul>
    <div class="navbar-right">
        <button id="help" type="button" class="btn btn-default navbar-btn">Help</button>
    </div>
}

@main("Home")(header){

<script type="text/javascript">

    $(function() {
        refresh();
    });

    function refresh() {
        $('.userlist > ul').empty();
        $.ajax({
            url: "refreshAvailableGames",
            dataType: "json",
            success: function(result) {
                $(result).each(function(index, obj) {
                    $('.userlist > ul').append('<li onclick="joinGame(' + obj.key + ')">' + obj.hostname + '</li>');
                });
            }
        });
    }

    function joinGame(key) {
        if ($('#usernameInput').val() == '') {
            var username = "";
            while (username == "") {
                username = prompt("What is your username?", "John Doe");
            }
            window.location.href = '/joinGame?username=' + username + '&matchID=' + key.toString();
        } else {
            window.location.href = '/joinGame?username=' + $('#usernameInput').val() + '&matchID=' + key.toString();
        }
    }

</script>


<section class="startGame jumbotron">
    <div class="container">

        <div class="logo_start"><img src='@routes.Assets.at("images/logo_white_png.png")' alt="WSD-Logo"/></div>
        <h2>Water Ship Down</h2>

        <div class="setUsername">
            <p>First choose your username</p>
            <form action="createGame" method="get">
                <p><input id="usernameInput" type="text" class="form-control" placeholder="Choose your username" required name="username" autofocus></p>
                <input id="btn_createGame" class="btn btn-success btn-lg" type="submit" value="create a game">
                <a id="btn_joinGame" class="btn btn-success btn-lg sliding-link" href="#join">join a game</a>
            </form>
        </div>
    </div>
</section>

<section id="join" class="joinGame">
    <div class="container">
        <h2>Join a game</h2>
        <h3>Click on an available player to join the match!</h3>
        <!-- change orientation -->
        <button id="refreshAvailableGames" type="button" class="btn btn-default" onclick="refresh()">
            <span class="glyphicon glyphicon-refresh"></span> refresh
        </button>

        <div class="userlist">
            <ul>
            </ul>
        </div>

    </div>
</section>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 text-center">
                <img class="htwg_logo img-responsive" src='@routes.Assets.at("images/HTWG_Logo_negativ.png")' alt="HTWG_Logo"/>
                <p class="small">A Web-Technology-Project at Hochschule Konstanz Technik, Wirtschaft und Gestaltung - University of Applied Sciences</p>

                <br><p class="small">&COPY; 2014 | Artur Bauer, Johannes Dangelmaier, Dennis Weber</p>
            </div>
        </div>
    </div>
</footer>
}