@main("Home"){

<script type="text/javascript">

    $(function() {
        refresh();
    });

    function refresh() {
        $('.userlist > ul').empty();     
        $.ajax({
            url: "refreshAvailableGames",
            dataType: "json",
            success: function(result) {
                $(result).each(function(index, obj) {
                    if(obj.key > 0){
                        $('.userlist > ul').append('<li onclick="joinGame(' + obj.key + ')">' + obj.hostname + '</li>');
                    }
                });
            }
        });
    }

    function joinGame(key) {
        if ($('#usernameInput').val() == '') {
        	var username = "";
            while (username == ""){
            	username = prompt("What is your username?","John Doe");
            }
            window.location.href = '/joinGame?username=' + username + '&matchID=' + key.toString();
        } else {
            window.location.href = '/joinGame?username=' + $('#usernameInput').val() + '&matchID=' + key.toString();
        }
    }

</script>


<section class="startGame jumbotron">
    <div class="container">
        <h1>Water Ship Down</h1>
        <p>Welcome to the browser game Water Ship Down. This is a familiar game to Battleships, though there are more functions than in the regular Battleships. To play this game it’s required to have exactly 2 players. Below you can either create a new game or join an existing game.</p>

        <div class="setUsername">
            <p>First choose your username</p>
            <form action="createGame" method="get">
                <p><input id="usernameInput" type="text" class="form-control" placeholder="Choose your username" required name="username"></p>
                <input id="btn_createGame" class="btn btn-success btn-lg" type="submit" value="create a game">
                <a id="btn_joinGame" class="btn btn-success btn-lg sliding-link" href="#join">join a game</a>
            </form>
        </div>
    </div>
</section>

<section id="join" class="joinGame">
    <div class="container">
        <h2>Join a game</h2>
        <h3>Click on an available player to join the match!</h3>
        <!-- change orientation -->
        <button id="refreshAvailableGames" type="button" class="btn btn-default" onclick="refresh()">
            <span class="glyphicon glyphicon-refresh"></span> refresh
        </button>

        <div class="userlist">
            <ul>
            </ul>
        </div>

        <div id="debug"></div>

    </div>
</section>

<section class="instructions">
    <p>At first you need to type your username. Then you either create a new game or join the game of a waiting player.</p>
</section>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 text-center">
                <img class="htwg_logo img-responsive" src='@routes.Assets.at("images/HTWG_Logo_negativ.png")' alt="HTWG_Logo"/>
                <p class="small">A Web-Technology-Project at Hochschule Konstanz Technik, Wirtschaft und Gestaltung - University of Applied Sciences</p>

                <br><p class="small">&COPY; 2014 | Artur Bauer, Johannes Dangelmaier, Dennis Weber</p>
            </div>
        </div>
    </div>
</footer>
}